{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
<meta charset="UTF-8">
      <!--Import Google Icon Font-->
      <link href="{% static 'css/icon.css' %}" rel="stylesheet">
      <!--Import materialize.css-->
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	  <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo right">time<b class="light-blue-text lighten-2">TABLE</b></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href={% url 'start' %} class="white-text">Главная</a></li>
          <li><a href={% url 'setsub' %}>Добавить занятие</a></li>
          <li><a href={% url 'delsub' %}>Удалить занятие</a></li>
		<li><a href={% url 'options' %} class="modal-trigger white-text">Настройки</a></li>
		<li><a href={% url 'timetable' %} class="waves-effect waves-light btn light-blue lighten-2" >Просмотр расписания</a></li>
      </ul>
    </div>
  </nav>




 <footer class="page-footer light-blue lighten-2">
<div class="row">

    <div class="col s6">
        <div class="container"><h4 align="center">Удаление группы</h4>

     {% csrf_token %}
{% if l == 1 %}
    <p><b>Группа успешно удалена</b></p>

{% endif %}
        <form action="" method="get">
    <p>Введите номер группы, которую желаете удалить</p>
        <select name="groups" class="browser-default">
    {% for i in file.courses%}
        <optgroup label={{ i }}>
        {% for j in file.data%}
            {% if j.course == i %}
            <option value={{ j.group }}>{{ j.group }}</option>
            {% endif %}
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
         <h4 align="center"><button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="group">Удалить
    <i class="material-icons right">delete</i>
         </button></h4>
</form>


    </div>

            <div class="container"><h4 align="center">Очистка занятий группы</h4>

     {% csrf_token %}
{% if k2 == 1 %}
    <p><b>Занятия выбранной группы успешно удалены</b></p>

{% endif %}
        <form action="" method="get">
    <p>Введите номер группы, занятия в которой желаете удалить</p>
        <select name="group_clear" class="browser-default">
    {% for i in file.courses%}
        <optgroup label={{ i }}>
        {% for j in file.data%}
            {% if j.course == i %}
            <option value={{ j.group }}>{{ j.group }}</option>
            {% endif %}
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
         <h4 align="center"><button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="clear">Очистить
    <i class="material-icons right">delete</i>
         </button></h4>
</form>


    </div>


    </div>
    <div class=" light-blue lighten-2 white-text col s6"> <div class="container"><h4 align="center">Удаление занятия</h4>

        {% if m == 1 %}
    <p><b>Занятие успешно удалено</b></p>
    {% elif m == 0 %}
     <p><b><i class="tiny material-icons ">do_not_disturb_alt</i> Ошибка - удаляемое занятие не найдено</b></p>
{% endif %}

<form action="" method="get" name = form2>
    {% csrf_token %}
    <p>Номер группы:</p>
    <select name="group_num" class="browser-default">
    {% for i in file.courses%}
        <optgroup label={{ i }}>
        {% for j in file.data%}
            {% if j.course == i %}
            <option value={{ j.group }}>{{ j.group }}</option>
            {% endif %}
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
    <br>
 <p>Номер семестра</p>
    <select name="sem" class="browser-default">
    {% for i in file.sem %}
            <option value={{ i }}>{{ i }}</option>
    {% endfor %}
    </select>
    <br>
    <p>День недели</p>
    <select name="day" class="browser-default">
        <option value="понедельник">понедельник</option>
        <option value="вторник">вторник</option>
        <option value="среда">среда</option>
        <option value="четверг">четверг</option>
        <option value="пятница">пятница</option>
        <option value="суббота">суббота</option>
    </select>
    <br>
    <p>Четность</p>
    <select name="chet" class="browser-default">
        <option value="четная">четная</option>
        <option value="нечетная">нечетная</option>
    </select>
    <br>
    <p>Время</p>
    <select name="time" class="browser-default">
        <option value="8:20 - 9:50">8:20 - 9:50</option>
        <option value="10:00 - 11:30">10:00 - 11:30</option>
        <option value="11:40 - 13:10">11:40 - 13:10</option>
        <option value="13:30 - 15:00">13:30 - 15:00</option>
        <option value="15:20 - 16:50">15:20 - 16:50</option>
        <option value="17:00 - 18:30">17:00 - 18:30</option>
        <option value="18:40 - 20:10">18:40 - 20:10</option>
        <option value="20:20 - 21:50">20:20 - 21:50</option>
    </select>

             <h4 align="center"><button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="sub">Удалить
    <i class="material-icons right">delete</i>
             </button></h4>
</form>


    </div></div>
    </div>

<div class="footer-copyright ">
            <div class="container ">
            2018 ITMO Univercity
                <a class="grey-text text-lighten-4 right" href="{% url 'enter' %}">Выход</a>
            </div>
</div>
 </footer>
      <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="https://code.jquery.com/jcuery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script>
 $(document).ready(function(){
    $('select').formSelect();
  });
	</script>
      </body>
  </html>


