{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
<meta charset="UTF-8">
      <!--Import Google Icon Font-->
      <link href="{% static 'css/icon.css' %}" rel="stylesheet">
      <!--Import materialize.css-->
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

      
	  <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
	
<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo right">time<b class="light-blue-text lighten-2">TABLE</b></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href={% url 'start' %} class="white-text">Главная</a></li>
          <li><a href={% url 'setsub' %}>Добавить занятие</a></li>
          <li><a href={% url 'delsub' %}>Удалить занятие</a></li>
		<li><a href={% url 'options' %} class="modal-trigger white-text">Настройки</a></li>
		<li><a href={% url 'timetable' %} class="waves-effect waves-light btn light-blue lighten-2" >Просмотр расписания</a></li>
      </ul>
    </div>
  </nav>
  


 <footer class="page-footer light-blue lighten-2">
<div class="row">
    <div class=" light-blue lighten-2 white-text"> <div class="container"><h4 align="center">{{ login }}, добро пожаловать в систему формирования расписания Time<b>TABLE</b>!</h4>
     <p>Данная программа предназначена для составления расписания занятий в системе высшего профессионального образования</p>
<p>Для того, что бы начать работать с программой и получить реальный результат, достаточно изучить документацию, прилагаемую к программе и иметь преставление о составлении расписания.</p>
<p>Составление расписания осуществляется путем создания групп, проходящиех обучение в университете, а после добавления занятия по дням недели к каждой из групп</p>
 <p>Вывод расписания возможен для каждой группы, каждого преподавателя и каждой аудитории для удобства слежения за нагрузкой.</p>
    </div></div>
    </div>

<div class="footer-copyright ">
            <div class="container ">
            2018 ITMO Univercity
                <a class="grey-text text-lighten-4 right" href="{% url 'enter' %}">Выход</a>
            </div>
</div>
 </footer>
      <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="https://code.jquery.com/jcuery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script>

	</script>
      </body>
  </html>